
/todo/.bundle
/todo/log/*
/todo/tmp/*
!/todo/log/.keep
!/todo/tmp/.keep
/todo/tmp/pids/*
!/todo/tmp/pids/
!/todo/tmp/pids/.keep
/todo/storage/*
!/todo/storage/.keep
/todo/public/assets
.byebug_history
/todo/config/master.key
/todo/public/packs
/todo/public/packs-test
/todo/node_modules

/auth/.bundle
/auth/log/*
/auth/tmp/*
!/auth/log/.keep
!/auth/tmp/.keep
/auth/tmp/pids/*
!/auth/tmp/pids/
!/auth/tmp/pids/.keep
/auth/storage/*
!/auth/storage/.keep
/auth/public/assets
.byebug_history
/auth/config/master.key
/auth/public/packs
/auth/public/packs-test
/auth/node_modules

yarn-error.log
yarn-debug.log*
.yarn-integrity
